@import "tailwindcss";

@theme {
  --font-ocr-pbi: "OCR-PBI", sans-serif;
  --font-workbench: "Workbench", sans-serif;
}

@font-face {
  font-family: "OCR-PBI";
  src: url("/fonts/OCR-PBI-site.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-size: 14px;
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

body {
  font-family: "OCR-PBI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Workbench", sans-serif;
}

input {
  font-size: 16px;
}
