@import "tailwindcss";

@theme {
  --color-yellow: #ffffb4;
}

@font-face {
  font-family: "OCR-PBI";
  src: url("/fonts/OCR-PBI-site.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lazenby Computer";
  src: url("/fonts/LazenbyComputer-Smooth.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF_tuoi-tre Text";
  src: url("/fonts/FFF_tuoi-tre-Text.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mainframe";
  src: url("/fonts/Mainframe-Spore.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mnicmp Star";
  src: url("/fonts/mnicmpStar-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OCR-PBI", sans-serif;
  line-height: 130%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "mnicmp Star", sans-serif;
  letter-spacing: -12%;
  line-height: 70%;
}

.font-ocr-pbi {
  font-family: "OCR-PBI", sans-serif;
  line-height: 130%;
}
.font-workbench {
  font-family: "Workbench", sans-serif;
  line-height: 93%;
}
.font-computer {
  font-family: "Lazenby Computer", sans-serif;
  line-height: 95%;
}
.font-tuoi-tre {
  font-family: "FFF_tuoi-tre Text", sans-serif;
  letter-spacing: -1%;
  line-height: 75%;
}
.font-mainframe {
  font-family: "Mainframe", sans-serif;
  letter-spacing: -12%;
  line-height: 80%;
}
.font-star {
  font-family: "mnicmp Star", sans-serif;
  letter-spacing: -12%;
  line-height: 70%;
}

.btn {
  position: relative;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border: 1px solid;
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    transition: width 0.5s steps(8);
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &.auto-hover {
    &:before {
      transition: width 4s steps(8);
      width: 100%;
    }
  }
  &.manual-hover {
    &:before {
      width: var(--current-width, 0);
      transition: width 0.5s steps(8);
    }
    &.manual-hover-active {
      &:before {
        width: 100%;
      }
    }
  }
}

.blinking-cursor {
  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
