@import "tailwindcss";

@theme {
  --font-ocr-pbi: "OCR-PBI", sans-serif;
  --font-workbench: "Workbench", sans-serif;
}

@font-face {
  font-family: "OCR-PBI";
  src: url("/fonts/OCR-PBI-site.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OCR-PBI", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Workbench", sans-serif;
}

button {
  position: relative;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border: 1px solid;
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    transition: width 0.5s steps(8);
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
}

.blinking-cursor {
  animation: blink 1s steps(2, jump-none) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
