@import "tailwindcss";

@theme {
  --color-yellow: #ffffb4;
  --color-gray: #9d9d9d;
}

@font-face {
  font-family: "Mozilla Text";
  src: url("/fonts/MozillaText-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mozilla Headline";
  src: url("/fonts/MozillaHeadline-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "mnicmp Star";
  src: url("/fonts/mnicmpStar-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Workbench";
  src: url("/fonts/Workbench-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FFF_tuoi-tre Text";
  src: url("/fonts/FFF_tuoi-tre-Text.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mainframe";
  src: url("/fonts/Mainframe-Spore.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OCR-PBI";
  src: url("/fonts/OCR-PBI-site.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lazenby Computer";
  src: url("/fonts/LazenbyComputer-Smooth.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OCR-PBI", sans-serif;
  line-height: 130%;
}

.font-mozilla-headline {
  font-family: "Mozilla Headline", sans-serif;
  line-height: 88%;
}
.font-mozilla-text {
  font-family: "Mozilla Text", sans-serif;
}
.font-ocr-pbi {
  font-family: "OCR-PBI", sans-serif;
  line-height: 130%;
}
.font-workbench {
  font-family: "Workbench", sans-serif;
  line-height: 93%;
  &:after {
    content: "";
    margin-top: -0.15em;
    display: table;
  }
}
.font-computer {
  font-family: "Lazenby Computer", sans-serif;
  line-height: 95%;
}
.font-tuoi-tre {
  font-family: "FFF_tuoi-tre Text", sans-serif;
  letter-spacing: -1%;
  line-height: 75%;
}
.font-mainframe {
  font-family: "Mainframe", sans-serif;
  letter-spacing: 40%;
  line-height: 80%;
}
.font-star {
  font-family: "mnicmp Star", sans-serif;
  letter-spacing: -12%;
  line-height: 105%;
  &:after {
    content: "";
    margin-top: -0.4em;
    display: table;
  }
}

.btn {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border: 1px solid;
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
  cursor: pointer;
  text-align: left;
  &:before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    height: 100%;
    background-color: #ffffff;
    mix-blend-mode: difference;
    transition: width 0.5s steps(8);
  }
  &:hover {
    &:before {
      width: 100%;
    }
  }
  &.auto-hover {
    &:before {
      transition: width 4s steps(8);
      width: 100%;
    }
  }
  &.manual-hover {
    &:before {
      width: var(--current-width, 0);
      transition: width 0.5s steps(8);
    }
    &.manual-hover-active {
      &:before {
        width: 100%;
      }
    }
  }
}

.blinking-cursor {
  animation: blink 1s steps(2, jump-none) infinite;
}

.animate-blink-1 {
  animation: blink 0.5s steps(2, jump-none) 3;
}
.animate-blink-2 {
  animation: blink 0.8s steps(2, jump-none) 3;
}
.animate-blink-3 {
  animation: blink 0.6s steps(2, jump-none) 3;
}
.animate-blink-4 {
  animation: blink 0.4s steps(2, jump-none) 3;
}
.animate-blink-5 {
  animation: blink 0.7s steps(2, jump-none) 3;
}
.animate-blink-6 {
  animation: blink 0.3s steps(2, jump-none) 3;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.marquee {
  --gap: 5rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}

html.intro-seen #intro {
  display: none;
}

html.captcha-seen #captcha {
  display: none;
}

html.stopwall-seen #stopwall {
  display: none;
}
