---
import Layout from "../layouts/Layout.astro";
import IntroWrapper from "../components/IntroWrapper.svelte";
---

<Layout>
  <IntroWrapper client:load>
    <div class="p-3 lg:p-6">
      <h1 class="text-4xl font-bold mb-4">Rest of the home page content</h1>
      <p>
        This content will only be visible after clicking "Enter the website"
      </p>
    </div>
  </IntroWrapper>
</Layout>
