---
import Layout from "../layouts/Layout.astro";
import Svg from "../components/Svg.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
import Video from "../components/Video.svelte";
---

<Layout>
  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-2 gap-2.5 lg:gap-5">
      <div class="lg:order-last">
        <Video
          client:load
          src="https://player.vimeo.com/progressive_redirect/playback/1155181521/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&signature=3439b1c1fd33dcd9deb3ea6d3551c16f190f9aa998f583b6069ed78aa9ab3577"
        />
      </div>
      <div class="flex flex-col justify-between space-y-2.5 lg:space-y-5">
        <div class="relative max-lg:flex max-lg:flex-col">
          <h1 class="font-mozilla-text-bold relative z-10 text-5xl lg:text-7xl">
            Doing for AI what we did for the web
          </h1>
          <div
            class="max-lg:self-end lg:hidden xl:block lg:absolute lg:right-0 lg:z-10 max-lg:-mt-10 lg:-translate-y-1/4"
          >
            <Svg client:load src="/svg/intro1.svg" />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-px">
          <div class="col-span-full outline outline-dashed p-5">
            <p class="text-center uppercase">Take Me Right To</p>
          </div>
          <a
            href="/tools#foundation"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-white"
          >
            I. Mozilla Foundation →
          </a>
          <a
            href="/tools#corp"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-white"
          >
            II. Latest on Firefox →
          </a>
          <a
            href="/tools#mzla"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-white"
          >
            III. Latest on Thunderbird →
          </a>
          <a
            href="/rebels"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-white"
          >
            IV. Meet Our Community →
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The 2025/26 State of Mozilla is an invitation: <strong
            >choose your future</strong
          >.
        </p>
        <p>
          AI isn’t just another tech trend — it’s at the heart of most apps,
          tools and technology we use today. It enables remarkable things: new
          ways to create and collaborate and communicate. But AI is also letting
          us down, filling the internet with slop, creating huge social and
          economic risks — and further concentrating power over how tech works
          in the hands of a few.
        </p>
        <p>
          The big tech players know this too. That’s why they’re racing to lock
          down AI and control the web— to make sure it works on their terms, not
          ours.
        </p>
        <p>
          Mozilla Foundation — and all of the other organizations in the Mozilla
          Family — have a different future in mind. The choices we need to make
          to get there are clear:
        </p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            <strong>We Choose Humanity:</strong> We need to build for human agency—tech
            that fuels creativity and fiercely protects privacy.
          </li>
          <li>
            <strong>We Choose Collective Power:</strong> We need to lean into open
            source and community, just as we did with Firefox.
          </li>
          <li>
            <strong>We Choose a Different Economic Model:</strong> A ‘double bottom
            line’ — advancing our mission and shaping markets — continues to guide
            everything we do.
          </li>
        </ul>
        <p>
          Today we are rewiring Mozilla to do for AI what we did for the web: to
          push AI in a different direction, one defined by openness, agency and
          choice. We continue to invest in core web products like Firefox and
          Thunderbird — and to support public interest technologists and
          communities through our fellowships, grant making and advocacy. And,
          at the same time, we are investing in new technology and new companies
          to push AI in a direction that is trustworthy, human-centered and
          shaped by all of us.
        </p>
        <p>
          This report shares our progress and a roadmap in service of these
          goals. This includes the work of the Mozilla Foundation itself — a
          nonprofit doing cutting-edge innovation, advocacy and community
          building to develop a shared vision for what AI could be. And it
          includes the work of the social purpose companies within the Mozilla
          family, all of which are owned and controlled by the Foundation,
          ensuring they will always prioritize the public interest and return
          all profits to our social mission.
        </p>
        <p>
          As in the web era, it's going to take a powerful community to win.
          Today Mozilla is gathering a rebel alliance of sorts, a growing
          network of open source developers, responsible startups, fellows,
          philanthropists and public-interest technologists working to shape
          what the internet becomes.
        </p>
        <p>
          As you read the report, we hope you’ll agree: we have a real chance to
          push the internet — and AI — in a better direction. The future is
          still up for grabs. We can still choose our future.
        </p>

        <a
          class="flex flex-col gap-px bg-yellow hover:bg-black hover:text-yellow"
          href="/stakes"
        >
          <div class="relative text-center outline outline-dashed">
            <video autoplay loop playsinline muted>
              <source
                src="https://player.vimeo.com/progressive_redirect/playback/1156853957/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&signature=16342f9cc17cd388de324671a6e9f3b7d791faf5113bf4e0344bad8b3808ada0"
                type="video/mp4"
              />
            </video>
          </div>
          <div class="outline outline-dashed p-5">TAKE THE FIRST STEP →</div>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div
      class="grid lg:grid-cols-4 gap-2.5 lg:gap-5 border-y border-black py-2.5"
    >
      <div class="lg:col-start-2 lg:col-span-2">
        <p>LOOKING AHEAD</p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The experience unfolds through six chapters - each a choice, each a
          signal of how we can build a different future together.
        </p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-px">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-6xl lg:text-xl xl:text-2xl 2xl:text-3xl text-center">
          THE JOURNEY
        </h2>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-2.5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-stakes.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/stakes"
        >
          <span>I</span>
          <h3 class="font-tuoi-tre text-8xl uppercase">Stakes</h3>
          <p class="text-xl text-balance">Closed vs. Open</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-manifesto.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/manifesto"
        >
          <span>II</span>
          <h3 class="font-workbench text-7xl uppercase">Manifesto</h3>
          <p class="text-xl text-balance">
            Applying our values in the Era of AI
          </p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-tools.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/tools"
        >
          <span>III</span>
          <h3 class="font-mainframe text-7xl uppercase">Tools</h3>
          <p class="text-xl text-balance">What we’re building</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-ledger.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/ledger"
        >
          <span>IV</span>
          <h3 class="font-star text-8xl uppercase">Ledger</h3>
          <p class="text-xl text-balance">Investing in a rebel alliance</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-rebels.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/rebels"
        >
          <span>V</span>
          <h3 class="font-computer text-7xl uppercase">Rebels</h3>
          <p class="text-xl text-balance">Building collective power</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-roadmap.svg"
            class="group-hover:text-yellow h-20"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/roadmap"
        >
          <span>FINAL</span>
          <h3 class="font-mozilla-text-bold text-7xl">ROADMAP</h3>
          <p class="text-xl text-balance">Where we’re going, together</p>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <h2
          class="font-mozilla-text-bold text-3xl lg:text-5xl leading-none! mt-7.5"
        >
          “You don’t have to believe the AI hype to see we’re at a fork in the
          road. We can let Big AI define how the internet works in the future.
          Or we can build something that is open and decentralized — and that
          puts humans first. We choose humanity.”
        </h2>
        <p>- Mark Surman</p>
      </div>
    </div>
  </section>

  <FinancialDownloads />
</Layout>
