---
import Layout from "../layouts/Layout.astro";
import Svg from "../components/Svg.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
import Video from "../components/Video.svelte";
---

<Layout>
  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-2 gap-2.5 lg:gap-5">
      <div class="lg:order-last">
        <Video
          client:load
          src="https://player.vimeo.com/progressive_redirect/playback/1155181521/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&signature=3439b1c1fd33dcd9deb3ea6d3551c16f190f9aa998f583b6069ed78aa9ab3577"
        />
      </div>
      <div class="flex flex-col justify-between">
        <div>
          <h1 class="font-mozilla-text-bold relative z-10 text-5xl lg:text-7xl">
            Doing for AI<br />what we did<br />for the web
          </h1>
          <div class="xl:absolute z-10 -translate-y-1/4 pointer-events-none">
            <Svg client:load src="/svg/intro1.svg" />
          </div>
        </div>
        <div class="grid grid-cols-2 gap-px bg-yellow">
          <div
            class="relative overflow-hidden col-span-full outline outline-dashed p-5"
          >
            <Svg
              client:load
              src="/svg/dots.svg"
              class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
            />
            <p class="text-center uppercase">Take Me Right To</p>
          </div>
          <a
            href="/tools#corp"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-yellow"
          >
            I. Latest on Firefox →
          </a>
          <a
            href="/tools#mzla"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-yellow"
          >
            II. Latest on Thunderbird →
          </a>
          <a
            href="/tools"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-yellow"
          >
            III. What We're Building →
          </a>
          <a
            href="/ledger"
            class="uppercase max-lg:col-span-full outline outline-dashed p-5 hover:bg-black hover:text-yellow"
          >
            IV. The Financials →
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The 2025/26 State of Mozilla is an invitation: <strong
            >choose your future</strong
          >.
        </p>
        <p>
          AI is well-past being a secondary technology. It’s rapidly becoming
          the tool, for better or worse, that mediates how we search, create,
          communicate, and make sense of the web itself.
        </p>
        <p>
          As AI is woven into browsers, apps, and everyday tools, the choices we
          make now will shape not just new products, but how the internet works,
          and who it works for. Even as a company known for its browser and
          email products, our future – and humanity’s – is inextricably tied to
          the direction AI takes.
        </p>
        <p>
          The big tech players know this too. That’s why they’re racing to lock
          down and control AI — to make sure it works on their terms, not ours.
        </p>
        <p>At this critical moment, Mozilla is choosing a different path:</p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            We Choose Humanity: Even as the role of AI grows, we need to build
            for human agency—tech that fuels creativity and fiercely protects
            privacy.
          </li>
          <li>
            We Choose Collective Power: As we learn how to build with AI, we
            need to lean into open source and community, just as we did with
            Firefox.
          </li>
          <li>
            We Choose a Different Economic Model: A ‘double bottom
            line’—prioritizing both mission and market impact—continues to guide
            everything we do.
          </li>
        </ul>
        <p>
          <strong
            >We are rewiring Mozilla itself to do for AI what we did for the
            web: push the technology in a new direction, one defined by
            openness, agency and choice.</strong
          > We’re continuing to invest in core products like Firefox and Thunderbird,
          so that their use of AI is trustworthy, human-centered and entirely up to
          you.
        </p>
        <p>
          And, as in the web era, it's going to take a powerful community to
          win. An increasing portion of Mozilla’s time and money is focused on
          gathering a rebel alliance of sorts, a growing network of open source
          developers, responsible startups, and public-interest technologists
          working to shape what the internet becomes.
        </p>
        <p>
          We <strong>can</strong> do this. As fast as technology is moving, what comes
          next is still up for grabs. We can still choose a different future, but
          time is running out.
        </p>
        <p>Will you choose with us?</p>

        <a
          class="flex flex-col gap-px bg-yellow hover:bg-black hover:text-yellow"
          href="/stakes"
        >
          <div class="relative text-center outline outline-dashed">
            <img
              class="w-full"
              src="/gif/choose_your_future.gif"
              alt="Choose your future"
            />
          </div>
          <div class="outline outline-dashed p-5">START THE JOURNEY →</div>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div
      class="grid lg:grid-cols-4 gap-2.5 lg:gap-5 border-y border-black py-2.5"
    >
      <div class="lg:col-start-2 lg:col-span-2">
        <p>THE JOURNEY AHEAD</p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The experience unfolds through six chapters - each a choice, each a
          signal of how we can build a different future together.
        </p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-px">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-3xl lg:text-5xl text-center">THE JOURNEY</h2>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-2.5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-stakes.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/stakes"
        >
          <span>I</span>
          <h3 class="font-tuoi-tre text-7xl uppercase">Stakes</h3>
          <p class="text-xl text-balance">Closed vs. Open</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-manifesto.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/manifesto"
        >
          <span>II</span>
          <h3 class="font-workbench text-7xl uppercase">Manifesto</h3>
          <p class="text-xl text-balance">
            Applying our values in the Era of AI
          </p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-tools.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/tools"
        >
          <span>III</span>
          <h3 class="font-mainframe text-7xl uppercase">Tools</h3>
          <p class="text-xl text-balance">What we’re building</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-ledger.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/ledger"
        >
          <span>IV</span>
          <h3 class="font-star text-7xl uppercase">Ledger</h3>
          <p class="text-xl text-balance">Investing in a rebel alliance</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-rebels.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/rebels"
        >
          <span>V</span>
          <h3 class="font-computer text-7xl uppercase">Rebels</h3>
          <p class="text-xl text-balance">Building collective power</p>
        </a>
      </div>
      <div
        class="group relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-5 left-1/2 -translate-x-1/2">
          <Svg
            client:load
            src="/svg/stamp-roadmap.svg"
            class="group-hover:text-yellow"
          />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/roadmap"
        >
          <span>FINAL</span>
          <h3 class="font-mozilla-text-bold text-7xl">Roadmap</h3>
          <p class="text-xl text-balance">Where we’re going, together</p>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <h2 class="font-mozilla-text-bold text-5xl mt-7.5">
          “We're not here to predict the future. We're here to prove that in the
          age of artificial intelligence, we still get to choose its direction.”
        </h2>
        <p>– Nabiha Syed</p>
      </div>
    </div>
  </section>

  <FinancialDownloads />
</Layout>
