---
import Layout from "../layouts/Layout.astro";
import Svg from "../components/Svg.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
---

<Layout>
  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-2 gap-2.5 lg:gap-5">
      <div class="lg:order-last">
        <div class="aspect-square w-full bg-gray-500"></div>
      </div>
      <div>
        <h1 class="relative z-10 text-5xl lg:text-7xl uppercase">
          Doing for AI<br />what we did<br />for the web
        </h1>
        <div class="-mt-5 lg:-mt-10 -ml-5">
          <Svg client:load src="/svg/intro1.svg" />
        </div>
        <div class="-mt-5 lg:-mt-10">
          <Svg client:load src="/svg/intro2.svg" />
        </div>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The 2025 State of Mozilla is an invitation: choose your future. We’re
          at a crossroads with AI, between tech we can shape, trust and enjoy
          vs. a world of centrally controlled monotony and slop.
        </p>
        <p>
          Mozilla is rewiring for a new era, decentralizing control, harnessing
          a global community committed to a better internet, and building great
          products that give people real agency and choice. At a moment where
          big tech seeks to monopolize our shared future, Mozilla is choosing a
          different path:
        </p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            We choose humanity: We don’t have to accept monopolies,
            concentration and control. We can have AI and an internet built on
            human agency and choice, and technology that empowers creativity and
            protects privacy.
          </li>
          <li>
            We choose collective power: We know we can build this world if we
            lean into open source and community, just as we did when we built
            Firefox and Thunderbird.
          </li>
          <li>
            We choose a different economic model for tech. We know we can build
            responsible tech that succeeds in the market — which is why a double
            bottom line that measures both mission + money now guides everything
            we do.
          </li>
        </ul>
        <a
          class="flex flex-col gap-px bg-yellow hover:bg-black hover:text-yellow"
          href="/stakes"
        >
          <div class="text-center pt-2.5 lg:pt-5 outline outline-dashed">
            <h3 class="text-8xl uppercase">
              <span class="font-star">Choose</span>
              <span class="font-star">your future</span>
            </h3>
            <div class="relative overflow-hidden h-20 lg:h-40">
              <Svg
                client:load
                src="/svg/dots.svg"
                class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
              />
            </div>
          </div>
          <div class="outline outline-dashed p-5">START THE JOURNEY →</div>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div
      class="grid lg:grid-cols-4 gap-2.5 lg:gap-5 border-y border-black py-2.5"
    >
      <div class="lg:col-start-2 lg:col-span-2">
        <p>THE JOURNEY AHEAD</p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <p>
          The experience unfolds through six chapters - each a choice, each a
          signal of how we can build a different future together.
        </p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-px">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-3xl lg:text-5xl text-center">THE JOURNEY</h2>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey1.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/stakes"
        >
          <span>I</span>
          <h3 class="text-7xl uppercase">Stakes</h3>
          <p class="text-xl text-balance">
            Closed vs. Open. Which future will we choose?
          </p>
        </a>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey2.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/code"
        >
          <span>II</span>
          <h3 class="text-7xl uppercase">Code</h3>
          <p class="text-xl text-balance">
            Applying the Mozilla Manifesto in the Age of AI
          </p>
        </a>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey5.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/ledger"
        >
          <span>V</span>
          <h3 class="text-7xl uppercase">Ledger</h3>
          <p class="text-xl text-balance">All in on a double bottom line</p>
        </a>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey3.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/tools"
        >
          <span>III</span>
          <h3 class="text-7xl uppercase">Tools</h3>
          <p class="text-xl text-balance">
            Our work to build a better internet
          </p>
        </a>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey4.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/rebels"
        >
          <span>IV</span>
          <h3 class="text-7xl uppercase">Rebels</h3>
          <p class="text-xl text-balance">Gathering a rebel alliance</p>
        </a>
      </div>
      <div
        class="relative overflow-hidden lg:col-span-2 outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <div class="absolute bottom-0 w-full overflow-hidden h-20 lg:h-40">
          <Svg
            client:load
            src="/svg/dots.svg"
            class="absolute left-0 right-0 top-1/2 -translate-y-1/2 w-full object-cover"
          />
        </div>
        <div class="absolute bottom-0 left-1/2 -translate-x-1/2">
          <Svg client:load src="/svg/journey6.svg" />
        </div>
        <a
          class="relative flex-1 px-2.5 pt-2.5 lg:px-5 lg:pt-5 pb-30 flex flex-col justify-center items-center text-center space-y-2.5"
          href="/join-us"
        >
          <span>FINAL</span>
          <h3 class="text-7xl uppercase">Join Us</h3>
        </a>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-start-2 lg:col-span-2 space-y-2.5 lg:space-y-5">
        <h2 class="font-mozilla-headline text-5xl mt-7.5">
          “We're not here to predict the future. We're here to prove that in the
          age of artificial intelligence, we still get to choose its direction.”
        </h2>
        <p>– Nabiha Syed</p>
      </div>
    </div>
  </section>

  <FinancialDownloads />
</Layout>
