---
import Layout from "../layouts/Layout.astro";
import StopWall from "../components/StopWall.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
---

<Layout>
  <StopWall client:load />

  <section
    class="relative flex flex-col px-2.5 pt-2.5 lg:px-5 lg:pt-5 min-h-[calc(100svh-var(--header-height)-20px)]"
  >
    <img class="absolute bottom-0 left-0 right-0 m-0" src="/dots-big.png" />
    <div class="flex-1 relative flex flex-col space-y-2.5 lg:space-y-5">
      <div class="relative space-y-2.5 lg:space-y-5">
        <p class="mb-2.5 lg:mb-5">IV - The Rebels</p>
        <h1 class="text-7xl lg:text-9xl uppercase">
          Amazing!
          <br class="max-lg:hidden" />
          Are you ready to
          <br class="max-lg:hidden" />
          get to work?
        </h1>
      </div>
      <div class="mt-auto">
        <ProgressCard client:load full={true} />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <h2 class="text-6xl lg:text-8xl">Ready to choose your future?</h2>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          If we get this right, then by 2030 we’ll look back and say: we did for
          AI what we once did for the web. Whether you’re a developer, investor,
          policymaker, teacher, or just someone who cares about where the
          internet goes next — join us.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-5">
    <h2 class="text-3xl lg:text-4xl">Learn more about it</h2>
    <div class="grid lg:grid-cols-3 gap-2.5 lg:gap-5">
      <div class="space-y-2.5">
        <img
          src="/img/article1.png"
          class="aspect-video object-cover object-top w-full"
        />
        <p>Rewiring Mozilla: Doing for AI what we did for the web</p>
        <a
          target="_blank"
          href="https://blog.mozilla.org/en/mozilla/rewiring-mozilla-ai-and-web/"
          >Read more →</a
        >
      </div>
      <div class="space-y-2.5">
        <img
          src="/img/article2.png"
          class="aspect-video object-cover object-top w-full"
        />
        <p>Own What You Build: Open Source and AI’s Future</p>
        <a target="_blank" href="https://youtu.be/obRiQme2b3M">Read more →</a>
      </div>
      <div class="space-y-2.5">
        <img
          src="/img/article3.png"
          class="aspect-video object-cover object-top w-full"
        />
        <p>Mark Surman on Building a Double Bottom Line for Tech</p>
        <a target="_blank" href="https://youtu.be/BoFUABRULxg">Read more →</a>
      </div>
    </div>
  </section>

  <FinancialDownloads />
</Layout>
