---
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
---

<Layout>
  <Captcha client:load />

  <section
    class="relative p-2.5 lg:p-5 min-h-[calc(100svh-var(--header-height)-20px)] bg-yellow"
  >
    <img class="absolute bottom-0 left-0 right-0" src="/dots-big.png" />
    <div
      class="absolute max-lg:w-1/2 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/ledger.svg" />
    </div>
    <div class="relative">
      <p class="mb-2.5 lg:mb-5">III - The Ledger</p>
      <h1 class="uppercase text-7xl lg:text-9xl">
        <span class="font-star">ALL IN ON A</span>
        <span class="font-star">DOUBLE</span>
        <span class="font-star">BOTTOM LINE</span>
      </h1>
    </div>
  </section>

  <ProgressWatcher
    client:load
    current="ledger"
    number="three"
    position="third"
    next="tools"
    font="font-mainframe"
  />

  <ProgressCard client:load />
</Layout>
