---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
import dotsBig from "../assets/img/dots-big.png";
---

<Layout>
  <Captcha client:load />

  <section class="relative p-2.5 lg:p-5 min-h-[50vh] bg-yellow overflow-hidden">
    <Image
      priority
      class="absolute bottom-0 left-0 right-0 lg:translate-y-1/2"
      src={dotsBig}
      alt=""
    />
    <div class="absolute h-3/4 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5">
      <Svg client:load src="/svg/ledger.svg" class="w-full h-full" />
    </div>
    <div class="relative lg:w-3/4 space-y-2.5 lg:space-y-5">
      <h1 class="uppercase text-5xl lg:text-8xl xl:text-9xl 2xl:text-[9rem]">
        <span class="font-star">Investing in a</span>
        <span class="font-star">rebel alliance</span>
      </h1>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          Mozilla was born to challenge a tech monopoly — and we succeeded not
          by becoming a significant player in the browser market, but by
          building an ecosystem that made openness thrive. Today, as AI reshapes
          the web and our relationship to technology, and concentrates power
          even faster, we’re using the same strategy in new ways.
        </p>
        <p>
          This is a story about how we invest — not just with dollars, but with
          our convictions, rooted in the Mozilla Manifesto.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p class="border-y border-black py-2.5">INVESTING TO TIP THE SCALES</p>
        <p>
          We know the stakes: a handful of big companies now dominate the full
          AI stack. That concentration is dangerous: it narrows who gets to
          build, who benefits, and who decides what technology becomes.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <Svg
      client:load
      src="/svg/Scale_Infographic.svg"
      class="lg:w-[600px] mx-auto"
    />
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          We’re focusing our ~$1.4B in reserves, our brand and our people power
          at shifting this balance.
        </p>
        <p>
          Our investment theory starts with a simple belief: a growing movement
          of <strong
            >mission driven tech companies and nonprofits can be a counterforce
            to the big players</strong
          >, creating a world of technology that is more diverse, creative and
          useful to people everywhere.
        </p>
        <p>
          Who is part of the alliance? Open source developers. Responsible tech
          startups. Public‑interest technologists. Anyone building AI that gives
          users agency, choice, and trust. Mozilla is one of these players. And,
          it is also an investor who is making bets on its peers.
        </p>
        <p>
          As the existing organizations in our portfolio continue to advance
          trustworthy AI, we have also set up a number of new Mozilla
          organizations aimed at creating alternatives in the AI era. We’ve also
          invested in over 50 companies advancing responsible technology and
          dozens of public interest technologies and nonprofits — all of whom
          are aimed at tipping the scales.
        </p>
        <p>
          This philosophy of <strong
            >‘invest in the rebel alliance’ is at the heart of who Mozilla is
            today</strong
          > — and how we think we can drive change.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p class="border-y border-black py-2.5">LEVERAGING OUR ASSETS</p>
        <p>
          Mozilla has something rare in tech today: the ability to make
          long‑term bets without surrendering our values. We are independent. We
          are global. And we have meaningful resources to invest.
        </p>
        <p>We have a powerful mix of financial and non-financial assets:</p>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-px bg-yellow mb-10">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-6xl lg:text-xl xl:text-2xl 2xl:text-3xl text-center">
          FINANCIAL STRENGTH
        </h2>
      </div>
      <div
        class="lg:col-span-full p-5 lg:p-10 space-y-2.5 outline outline-dashed"
      >
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">1.4b</p>
        <p>in reserves (and no debt)</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">$620M</p>
        <p>in asset growth since 2020</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">$658.5M</p>
        <p>in Firefox related income (2024)</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">$125M</p>
        <p>invested in philanthropic programs since 2020</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">50+</p>
        <p>equity holdings in responsible tech companies</p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-px bg-yellow mb-10">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-6xl lg:text-xl xl:text-2xl 2xl:text-3xl text-center">
          REACH AND COMMUNITY
        </h2>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">~200M</p>
        <p>monthly Firefox users</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">~20M</p>
        <p>monthly Thunderbird users</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">
          Tens of thousands
        </p>
        <p>of donors supporting Mozilla’s mission worldwide</p>
      </div>
      <div class="p-5 lg:p-10 space-y-2.5 outline outline-dashed">
        <p>Participants from</p>
        <p class="font-mozilla-text text-5xl lg:text-7xl uppercase">79</p>
        <p>countries at Mozilla Festival</p>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          Of course, big tech has bigger assets. But that doesn't mean we can't
          challenge them. Our assets are aimed at helping a whole ecosystem grow
          — and at creating an alliance that can transform tech.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p class="border-y border-black py-2.5">HOW WE'RE INVESTING</p>
        <p>
          In 2026, Mozilla will continue to invest and leverage our assets to
          help tip the balance of AI toward openness, agency and trust. We
          anticipate $~650M in expenditure across the portfolio to run our core
          businesses, generate revenue, drive mission impact, and grow new
          opportunities in 2026:
        </p>
        <p>
          Approximately <strong>80% of expenditure on core products</strong>:
        </p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            Continued, substantial investment in core products like Firefox and
            Thunderbird.
          </li>
        </ul>
        <p>
          Approximately <strong
            >20% expanding into trustworthy, open source AI</strong
          >:
        </p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            Pushing the envelope on products and features that offer people
            access to AI in ways they can trust, giving them real agency and
            choice.
          </li>
          <li>
            Investments in startups and tools that will make open easier than
            closed, helping developers find open source AI alternatives to
            renting from platforms.
          </li>
          <li>
            Grants, fellowships and community programs aimed at rebuilding the
            future of technology with communities and people at the center.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p class="border-y border-black py-2.5">
          INVESTING A DOUBLE BOTTOM LINE
        </p>
        <p>
          All of this investment is <strong
            >guided by 25 years of experience using a double bottom line</strong
          >. We know that we can shift the tech industry in a different
          direction if we pay attention to both mission and money.
        </p>
        <p>
          We have updated and published the <strong
            >double bottom line framework</strong
          > we’re using to make all decisions — and track progress — related to our
          current investment strategy.
        </p>
      </div>
    </div>
    <div class="grid lg:grid-cols-2 gap-px bg-yellow mb-10">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-6xl lg:text-xl xl:text-2xl 2xl:text-3xl text-center">
          MISSION
        </h2>
      </div>
      <div class="p-5 outline outline-dashed">
        <p class="mb-2.5">In the world</p>
        <p class="font-mozilla-text text-4xl lg:text-6xl xl:text-7xl uppercase">
          People have easy access to AI that is open and puts humanity first.
        </p>
      </div>
      <div class="p-5 outline outline-dashed">
        <p class="mb-2.5">At Mozilla</p>
        <p class="font-mozilla-text text-4xl lg:text-6xl xl:text-7xl uppercase">
          All products offer genuine choice, useful, trustworthy AI or ‘no AI at
          all’.
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-px bg-yellow">
      <div
        class="lg:col-span-full p-2.5 lg:p-5 outline outline-dashed bg-yellow"
      >
        <h2 class="text-6xl lg:text-xl xl:text-2xl 2xl:text-3xl text-center">
          MONEY
        </h2>
      </div>
      <div class="p-5 outline outline-dashed">
        <p class="mb-2.5">In the world</p>
        <p class="font-mozilla-text text-4xl lg:text-6xl xl:text-7xl uppercase">
          More and more responsible tech companies succeed in the market.
        </p>
      </div>
      <div class="p-5 outline outline-dashed">
        <p class="mb-2.5">At Mozilla</p>
        <p class="font-mozilla-text text-4xl lg:text-6xl xl:text-7xl uppercase">
          Our revenue sources diversify, showing responsible tech can win in the
          market.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          Every organization in Mozilla’s core portfolio plans, builds, and
          measures success against this double bottom line. And, we use this
          framework — alongside the Mozilla Manifesto — when investing in
          others.
        </p>
        <p>
          Our hope is that this approach will catch on. If it does, it can tip
          the scales, creating space for smaller players, for startups and
          public interest technologists and for all of us to put technology on a
          different track. We know from history that it’s possible, if we do it
          together.
        </p>
        <p class="italic">
          Below you’ll find links to Mozilla’s Foundation’s Form 990 tax filing
          and our audited financials which provided a consolidated view across
          our portfolio.
        </p>
      </div>
    </div>
  </section>

  <FinancialDownloads />

  <ProgressWatcher
    client:load
    current="ledger"
    number="four"
    n="4"
    position="fourth"
    next="rebels"
    text=""
  />
</Layout>
