---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
// import ProgressWatcher from "../components/ProgressWatcher.svelte";
import dotsBig from "../assets/img/dots-big.png";
import Video from "../components/Video.svelte";
---

<Layout>
  <Captcha client:load />

  <section class="relative p-2.5 lg:p-5 min-h-[50vh] bg-yellow overflow-hidden">
    <Image
      priority
      class="absolute bottom-0 left-0 right-0 lg:translate-y-1/2"
      src={dotsBig}
      alt=""
    />
    <div
      class="absolute w-1/2 lg:w-1/4 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/icon-manifesto.svg" class="w-full h-full" />
    </div>
    <div class="relative lg:w-3/4 space-y-2.5 lg:space-y-5">
      <h1 class="font-workbench uppercase text-5xl lg:text-8xl">
        Applying our values in the Era of AI
      </h1>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          We already have a blueprint to guide us as we build a better future.
          For almost twenty years, the <a
            target="_blank"
            class="underline"
            href="https://www.mozilla.org/about/manifesto/">Mozilla Manifesto</a
          > has guided what we build and how. It is the bedrock upon which we have
          shown that empowering tech for the public good can succeed in the marketplace.
          As we have evolved Firefox and Thunderbird, our Manifesto hasn’t just been
          an ideal, it became a tool to help us make principled design and engineering
          decisions every single day.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-14 gap-2.5 lg:gap-5">
      <div class="lg:col-span-8 lg:col-start-4 space-y-2.5 lg:space-y-5">
        <Video
          client:load
          src="https://player.vimeo.com/progressive_redirect/playback/1156565755/rendition/2160p/file.mp4%20%282160p%29.mp4?loc=external&signature=03691e17ee5d353b9aeb7e877af8697f270bb669b40477c42391f2ffba402584"
        />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-10 lg:space-y-20">
        <p>
          This is still true today. While we are still guided by full manifesto,
          five principles are especially relevant in the age of AI:
        </p>
        <div class="grid grid-cols-3 gap-2.5 lg:gap-5 items-center">
          <Svg
            client:load
            src="/svg/manifesto-icon-1.svg"
            class="w-full h-full"
          />
          <p class="col-span-2">
            HUMAN AGENCY<br /><br />in a world of AI and agents, it is more
            important than ever that technology is designed in ways that let
            people shape their own experiences online — and optimize for privacy
            where it matters to them most.
          </p>
        </div>
        <div class="grid grid-cols-3 gap-2.5 lg:gap-5 items-center">
          <Svg
            client:load
            src="/svg/manifesto-icon-2.svg"
            class="w-full h-full"
          />
          <p class="col-span-2">
            DECENTRALIZATION AND OPEN SOURCE<br /><br />an open, accessible
            internet depends on innovation and decentralized participation in
            the creation and use of technology. The success of open source AI
            built around transparent community practices is critical to making
            this possible in the AI era.
          </p>
        </div>
        <div class="grid grid-cols-3 gap-2.5 lg:gap-5 items-center">
          <Svg
            client:load
            src="/svg/manifesto-icon-3.svg"
            class="w-full h-full"
          />
          <p class="col-span-2">
            BALANCING COMMERCIAL AND PUBLIC BENEFIT<br /><br />more than ever,
            the direction of the internet and AI is defined by commercial
            players. We also need a strong cadre of public benefit players to
            create balance in the overall ecosystem.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          We think about these principles as we build products, invest in
          startups and organize communities with the goal of doing for AI what
          we did for the web. They are core to who we are, and everything we do.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-14 gap-2.5 lg:gap-5">
      <div class="lg:col-span-8 lg:col-start-4 space-y-2.5 lg:space-y-5">
        <Video
          client:load
          src="https://player.vimeo.com/progressive_redirect/playback/1155181557/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&signature=a3ccd2426872b2b13841ac9edbbb16de585c91d570bed6f56e55b5f4463c620c"
        />
      </div>
    </div>
  </section>

  <!-- <section class="p-2.5 lg:p-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-5">
        <div
          class="relative overflow-hidden p-2.5 lg:p-5 outline outline-dashed bg-yellow space-y-2.5"
        >
          <h3 class="text-4xl lg:text-6xl 2xl:text-7xl uppercase text-center">
            <span class="font-star">THE MOZILLA</span>
            <span class="font-star">MANIFESTO:</span>
            <span class="font-star">A BLUEPRINT FOR</span>
            <span class="font-star">THE AI ERA</span>
          </h3>
          <div class="-mt-5 lg:-mt-10 -mx-5 mb-0">
            <Svg client:load src="/svg/intro1.svg" />
          </div>
          <hr class="border-dashed mt-0" />
          <h3 class="text-3xl lg:text-4xl 2xl:text-7xl uppercase">
            <span class="font-star">HUMAN AGENCY</span>
          </h3>
          <p>
            In a world of AI and agents, it is more important than ever that
            technology is designed in ways that let people shape their own
            experiences online — and optimize for privacy where it matters to
            them most.
          </p>
          <hr class="border-dashed mt-5" />
          <h3 class="text-3xl lg:text-4xl 2xl:text-7xl uppercase">
            <span class="font-star">DECENTRALIZATION</span>
            <span class="font-star">AND OPENSOURCE</span>
          </h3>
          <p>
            An open, accessible internet depends on innovation and decentralized
            participation in the creation and use of technology. The success of
            open source AI built around transparent community practices is
            critical to making this possible in the AI era.
          </p>
          <hr class="border-dashed mt-5" />
          <h3 class="text-3xl lg:text-4xl 2xl:text-7xl uppercase">
            <span class="font-star">BALANCING COMMERCIAL</span>
            <span class="font-star">AND PUBLIC BENEFIT</span>
          </h3>
          <p>
            More than ever, the direction of the internet and AI is defined by
            commercial players. We also need a strong cadre of public benefit
            players to create balance in the overall ecosystem.
          </p>
        </div>
        <a
          target="_blank"
          href="https://www.mozilla.org/about/manifesto/"
          class="btn invert w-full"
        >
          <span>Read our manifesto</span>
        </a>
      </div>
    </div>
  </section> -->

  <!-- <ProgressWatcher
    client:load
    current="manifesto"
    number="two"
    n="2"
    position="second"
    next="tools"
    text=""
  /> -->
</Layout>
