---
import Layout from "../layouts/Layout.astro";
import StopWall from "../components/StopWall.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import FinancialDownloads from "../components/FinancialDownloads.astro";
---

<Layout>
  <StopWall client:load />

  <section
    class="relative flex flex-col px-2.5 pt-2.5 lg:px-5 lg:pt-5 min-h-[calc(100svh-var(--header-height)-20px)]"
  >
    <img class="absolute bottom-0 left-0 right-0 m-0" src="/dots-big.png" />
    <div class="flex-1 relative flex flex-col space-y-2.5 lg:space-y-5">
      <div class="relative space-y-2.5 lg:space-y-5">
        <p class="mb-2.5 lg:mb-5">IV - The Rebels</p>
        <h1 class="font-mozilla-headline text-6xl lg:text-8xl">
          Amazing!
          <br class="max-lg:hidden" />
          Are you ready to
          <br class="max-lg:hidden" />
          get to work?
        </h1>
      </div>
      <div class="mt-auto">
        <ProgressCard full={true} client:load />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <h2 class="font-mozilla-headline text-6xl lg:text-8xl">
      Ready to choose your future?
    </h2>
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          If we get this right, then by 2030 we’ll look back and say: we did for
          AI what we once did for the web. Whether you’re a developer, investor,
          policymaker, teacher, or just someone who cares about where the
          internet goes next — join us.
        </p>
      </div>
    </div>
  </section>

  <FinancialDownloads />
</Layout>
