---
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import City from "../components/City.svelte";
---

<Layout>
  <Captcha client:load />

  <section
    class="mb-0 relative p-2.5 lg:p-5 min-h-[calc(50svh-var(--header-height)-20px)] lg:min-h-[calc(100svh-var(--header-height)-20px)] bg-yellow"
  >
    <img class="absolute bottom-0 left-0 right-0" src="/dots-big.png" alt="" />
    <div
      class="absolute max-lg:w-1/2 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/rebels.svg" class="w-full h-full" />
    </div>
    <div class="relative">
      <p class="mb-2.5 lg:mb-5">V - The Rebels</p>
      <h1 class="font-computer uppercase text-6xl lg:text-9xl">
        Building
        <br class="max-lg:hidden" />
        collective power
      </h1>
    </div>
  </section>

  <City client:load />

  <ProgressWatcher
    client:load
    current="rebels"
    number="five"
    position="fifth"
    next="join-us"
    text="> Find all the rebels to unlock stamp..."
  />

  <ProgressCard client:load full={false} />
</Layout>
