---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import StopWall from "../components/StopWall.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import article1 from "../assets/img/article1.png";
import article2 from "../assets/img/article2.png";
// import article3 from "../assets/img/article3.png";
---

<Layout>
  <StopWall client:load />

  <section
    class="relative flex flex-col px-2.5 pt-2.5 lg:px-5 lg:pt-5 min-h-[calc(100svh-var(--header-height)-20px)]"
  >
    <Svg
      client:load
      src="/svg/Dithering_Small.svg"
      class="absolute bottom-0 left-0 right-0 w-full"
    />
    <div class="flex-1 relative flex flex-col space-y-2.5 lg:space-y-5">
      <div class="relative space-y-2.5 lg:space-y-5">
        <p class="mb-2.5 lg:mb-5">FINAL - The Roadmap</p>
        <h1 class="text-6xl lg:text-9xl uppercase">
          Where we’re going, together
        </h1>
      </div>
      <div class="mt-auto">
        <ProgressCard client:load full={true} />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          We know the stakes. At a moment when a handful of companies are racing
          to define the future of AI, Mozilla is choosing a future that will
          push AI and the internet in more open, trustworthy and human-centric
          directions. And a future that lets you choose if, when and how you use
          new technologies.
        </p>
        <p>
          Mozilla is uniquely positioned to deliver on this promise - perhaps
          the only major tech company that is wholly committed to a vision for
          AI that’s optimistic and open.
        </p>
        <p>
          Across our portfolio, our 2026 roadmap is focused on delivering on
          this promise:
        </p>
        <ul class="list-disc list-inside space-y-2.5 lg:space-y-5">
          <li>
            Our core products — push Firefox on performance, privacy, and
            interoperability, and create a Firefox offering for enterprises.
            Roll out Thunderbird Pro and Thundermail.
          </li>
          <li>
            Trusted AI experiences — build opt-in features into Firefox like AI
            Window, pushing the envelope on AI that is both useful and user
            respecting. Also, build an AI kill switch into Firefox, giving
            people a clear way to turn AI off entirely.
          </li>
          <li>
            Open source AI ecosystem — grow Mozilla.ai’s suite of choice first
            open source libraries, and launch a hosted AI agent platform
            optimized for building on open source AI. Also, search out new
            partners and projects to work with in making the open source AI
            stack easier to use.
          </li>
          <li>
            Public interest AI —expand the Mozilla Data Collective, launching
            new incubator cohorts focused on democracy and public interest AI,
            and convening global communities through programs like Creative
            Futures Residency and the Democracy x AI Incubator Cohort.
          </li>
        </ul>
        <p>
          Together, this work reflects a single vision and ambition for the
          future — an ambition to do for AI what we did for the web. It also
          reflects an acknowledgement and a commitment: <strong
            >we can only succeed if we do this together</strong
          >. As in the web era, we will need a rebel alliance of sorts if we
          want to push AI in a better direction.
        </p>
        <p>
          In 2026, we will grow Mozilla’s investment in community and
          partnerships. This includes Mozilla Ventures investments, events like
          MozFest and collaboration on open source AI projects. Whether you’re a
          developer, founder, investor, policymaker, teacher, or simply someone
          who cares about where the internet goes next, we want to work with
          you.
        </p>
        <p>
          <strong>
            Let’s choose a better future. And, then build it. Together.
          </strong>
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-5">
    <h2 class="text-3xl lg:text-4xl">Learn more about it</h2>
    <div class="grid lg:grid-cols-3 gap-2.5 lg:gap-5">
      <div class="space-y-2.5">
        <Image
          src={article1}
          class="aspect-video object-cover object-top w-full"
          alt="Rewiring Mozilla: Doing for AI what we did for the web"
        />
        <p>Rewiring Mozilla: Doing for AI what we did for the web</p>
        <a
          target="_blank"
          href="https://blog.mozilla.org/mozilla/rewiring-mozilla-ai-and-web/"
          >Read more →</a
        >
      </div>
      <div class="space-y-2.5">
        <Image
          src={article2}
          class="aspect-video object-cover object-top w-full"
          alt="Own What You Build: Open Source and AI’s Future"
        />
        <p>Own What You Build: Open Source and AI’s Future</p>
        <a target="_blank" href="https://youtu.be/obRiQme2b3M">Read more →</a>
      </div>
      <div class="space-y-2.5">
        <!-- <Image
          src={article3}
          class="aspect-video object-cover object-top w-full"
          alt="Mark Surman on Building a Double Bottom Line for Tech"
        /> -->
        <p>Mark Surman on Building a Double Bottom Line for Tech</p>
        <a target="_blank" href="https://youtu.be/BoFUABRULxg">Read more →</a>
      </div>
    </div>
  </section>
</Layout>
