---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import OrganizationWrapper from "../components/OrganizationWrapper.astro";
import { organizations } from "../data/organizations";
import dotsBig from "../assets/img/dots-big.png";
---

<Layout>
  <Captcha client:load />

  <section
    class="relative p-2.5 lg:p-5 min-h-[calc(50svh-var(--header-height)-20px)] lg:min-h-[calc(100svh-var(--header-height)-20px)] bg-yellow"
  >
    <Image
      priority
      class="absolute bottom-0 left-0 right-0"
      src={dotsBig}
      alt=""
    />
    <div
      class="absolute max-lg:w-1/2 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/tools.svg" class="w-full h-full" />
    </div>
    <div class="relative">
      <p class="mb-2.5 lg:mb-5">III - The Tools</p>
      <h1 class="font-mainframe uppercase text-6xl lg:text-9xl">
        What we’re building
      </h1>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          If the future of AI is still up for grabs, the tools we build - our
          products, programs and investments - are our most powerful levers in
          shaping how things work out.
        </p>
        <p>
          Mozilla’s primary focus remains making the products you know and love,
          Firefox and Thunderbird, even better. At the same time, it’s critical
          that we use these platforms as a springboard to do for AI what we once
          did for the web.
        </p>
        <p>
          With this dual goal in mind, we’ve rewired and expanded Mozilla over
          the last few years into a portfolio of organizations, each tuned to
          take on a particular piece of this work.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-3 gap-px">
      <a
        href="#corp"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla Corp</p>
        <p class="bg-black text-yellow">Grow Firefox</p>
      </a>
      <a
        href="#mzla"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>MZLA Technologies</p>
        <p class="bg-black text-yellow">Evolve Thunderbird</p>
      </a>
      <a
        href="#foundation"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla Foundation</p>
        <p class="bg-black text-yellow">Invest in community</p>
      </a>
      <a
        href="#ventures"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla Ventures</p>
        <p class="bg-black text-yellow">Invest in startups</p>
      </a>
      <a
        href="#ai"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla.ai</p>
        <p class="bg-black text-yellow">Build AI dev tools</p>
      </a>
      <a
        href="#new"
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>New initiatives</p>
        <p class="bg-black text-yellow">Improve open source AI</p>
      </a>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          All of this work is guided by <a
            target="_blank"
            class="underline"
            href="https://blog.mozilla.org/mozilla/rewiring-mozilla-ai-and-web/"
            >Mozilla’s ambitious 3 year portfolio strategy</a
          >, which is focused on leveraging our core products to create
          trustworthy AI experiences, build public interest AI and make sure
          open source AI wins in the market.
        </p>
        <p>
          This section of State of Mozilla shows that this is not just an
          ambition, it’s also what we are building. It details 2025 achievements
          and offers a preview of what’s ahead in 2026.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="aspect-video w-full bg-gray"></div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        {organizations.map((org) => <OrganizationWrapper organization={org} />)}
      </div>
    </div>
  </section>

  <ProgressWatcher
    client:load
    current="tools"
    number="three"
    position="third"
    next="ledger"
    text=""
  />

  <ProgressCard client:load full={false} />
</Layout>
