---
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
---

<Layout>
  <Captcha client:load />

  <section
    class="relative p-2.5 lg:p-5 min-h-[calc(100svh-var(--header-height)-20px)] bg-yellow"
  >
    <img class="absolute bottom-0 left-0 right-0" src="/dots-big.png" />
    <div
      class="absolute max-lg:w-1/2 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/tools.svg" />
    </div>
    <div class="relative">
      <p class="mb-2.5 lg:mb-5">IV - The Tools</p>
      <h1 class="font-mainframe uppercase text-6xl lg:text-8xl">
        Choices we’re
        <br class="max-lg:hidden" />
        making today
      </h1>
    </div>
  </section>

  <ProgressWatcher
    client:load
    current="tools"
    number="four"
    position="fourth"
    next="rebels"
    font="font-computer"
  />

  <ProgressCard client:load />
</Layout>
