---
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import ProgressCard from "../components/ProgressCard.svelte";
import Organization from "../components/Organization.svelte";
import { organizations } from "../data/organizations.js";
---

<Layout>
  <Captcha client:load />

  <section
    class="relative p-2.5 lg:p-5 min-h-[calc(50svh-var(--header-height)-20px)] lg:min-h-[calc(100svh-var(--header-height)-20px)] bg-yellow"
  >
    <img class="absolute bottom-0 left-0 right-0" src="/dots-big.png" alt="" />
    <div
      class="absolute max-lg:w-1/2 right-2.5 lg:right-5 bottom-2.5 lg:bottom-5"
    >
      <Svg client:load src="/svg/tools.svg" class="w-full h-full" />
    </div>
    <div class="relative">
      <p class="mb-2.5 lg:mb-5">IV - The Tools</p>
      <h1 class="font-mainframe uppercase text-7xl lg:text-9xl">
        Choices we're
        <br class="max-lg:hidden" />
        making today
      </h1>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          How do we do for AI what we did for the web? By building and funding
          things which push AI towards agency and choice. Mozilla's investment
          strategy is focused on three pillars:
        </p>
        <Svg client:load src="/svg/chart.svg" class="w-full" />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <div><Svg client:load src="/svg/encryption.svg" class="w-full" /></div>
        <p>
          This doesn't just represent an ambition — it also reflects what's
          actually happening across the Mozilla portfolio, as we build
          trustworthy AI across the board and create an alternative to the AI
          offerings that dominate the market today. Early examples of this
          strategy in action include:
        </p>
      </div>
    </div>

    <div class="grid lg:grid-cols-3 gap-px">
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>MoCo</p>
        <p class="bg-black text-yellow">Firefox AI Window</p>
        <p>+ privacy preserving ads</p>
      </div>
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>MZLA</p>
        <p class="bg-black text-yellow">Thunderbird Pro</p>
        <p>+ AI features in TBird</p>
      </div>
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla Ventures</p>
        <p class="bg-black text-yellow">x 40+ AI startups</p>
        <p>e.g. Flower, Oumi, Nous</p>
      </div>
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>MoFo</p>
        <p class="bg-black text-yellow">Mozilla Data Collective</p>
        <p>+ Education Initiatives</p>
      </div>
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Mozilla.ai</p>
        <p class="bg-black text-yellow">Any-* + MCPD</p>
        <p>→SaaS dev platform</p>
      </div>
      <div
        class="p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow"
      >
        <p>Policy + Advocacy</p>
        <p class="bg-black text-yellow">Open source AI</p>
        <p>push on governments</p>
      </div>
    </div>

    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          This work goes beyond just AI. Across Mozilla's portfolio, each of our
          portfolio organizations plays a distinct role in building a better
          digital future — from open-source innovation and responsible
          investment to creative experimentation and public interest advocacy.
        </p>
        <p>
          Together, they advance a single vision: technology that expands human
          agency, not limits it. Across Mozilla's portfolio, each of our
          portfolio organizations plays a distinct role in building a better
          digital future — from open-source innovation and responsible
          investment to creative experimentation and public interest advocacy.
        </p>
      </div>
    </div>

    <div class="aspect-video w-full bg-gray"></div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        {
          organizations.map((org) => (
            <Organization client:load organization={org} />
          ))
        }
      </div>
    </div>
  </section>

  <ProgressWatcher
    client:load
    current="tools"
    number="four"
    position="fourth"
    next="rebels"
    text=""
  />

  <ProgressCard client:load full={false} />
</Layout>
