---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Captcha from "../components/Captcha.svelte";
import Svg from "../components/Svg.svelte";
import ProgressWatcher from "../components/ProgressWatcher.svelte";
import OrganizationWrapper from "../components/OrganizationWrapper.astro";
import { organizations } from "../data/organizations";
import dotsBig from "../assets/img/dots-big.png";
import Video from "../components/Video.svelte";
---

<Layout>
  <Captcha client:load />

  <section class="relative p-2.5 lg:p-5 min-h-[50vh] bg-yellow overflow-hidden">
    <Image
      priority
      class="absolute bottom-0 left-0 right-0 lg:translate-y-1/2"
      src={dotsBig}
      alt=""
    />
    <div class="absolute h-full right-2.5 lg:right-5 bottom-2.5 lg:bottom-5">
      <Svg client:load src="/svg/tools.svg" class="w-full h-full" />
    </div>
    <div class="relative lg:w-3/4 space-y-2.5 lg:space-y-5">
      <h1 class="font-mainframe uppercase text-6xl lg:text-9xl">
        What we’re
        <br />building
      </h1>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          If the future of AI is still up for grabs, the tools we build - our
          products, programs and investments - are our most powerful levers in
          shaping how things work out.
        </p>
        <p>
          Mozilla’s primary focus remains making the products you know and love,
          Firefox and Thunderbird, even better. At the same time, it’s critical
          that we use these platforms as a springboard to do for AI what we once
          did for the web.
        </p>
        <p>
          With this dual goal in mind, we’ve rewired and expanded Mozilla over
          the last few years into a portfolio of organizations, each tuned to
          take on a particular piece of this work.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-3 gap-px">
      <a
        href="#corp"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>Mozilla Corp</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Grow Firefox
        </p>
      </a>
      <a
        href="#mzla"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>MZLA Technologies</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Evolve Thunderbird
        </p>
      </a>
      <a
        href="#foundation"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>Mozilla Foundation</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Invest in community
        </p>
      </a>
      <a
        href="#ventures"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>Mozilla Ventures</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Invest in startups
        </p>
      </a>
      <a
        href="#ai"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>Mozilla.ai</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Build AI dev tools
        </p>
      </a>
      <a
        href="#new"
        class="group p-10 lg:p-20 flex flex-col justify-center items-center text-center outline outline-dashed bg-yellow hover:bg-black hover:text-yellow"
      >
        <p>New initiatives</p>
        <p
          class="bg-black text-yellow group-hover:bg-yellow group-hover:text-black"
        >
          Improve open source AI
        </p>
      </a>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        <p>
          All of this work is guided by <a
            target="_blank"
            class="underline"
            href="https://blog.mozilla.org/mozilla/rewiring-mozilla-ai-and-web/"
            >Mozilla’s ambitious 3 year portfolio strategy</a
          >, which is focused on leveraging our core products to create
          trustworthy AI experiences, build public interest AI and make sure
          open source AI wins in the market.
        </p>
        <p>
          This section of State of Mozilla shows that this is not just an
          ambition, it’s also what we are building. It details 2025 achievements
          and offers a preview of what’s ahead in 2026.
        </p>
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-14 gap-2.5 lg:gap-5">
      <div class="lg:col-span-8 lg:col-start-4 space-y-2.5 lg:space-y-5">
        <Video
          client:load
          src="https://player.vimeo.com/progressive_redirect/playback/1155181479/rendition/1080p/file.mp4%20%281080p%29.mp4?loc=external&signature=1b39c6c6f9250ade6f961c9e95fc948f078eb8c0d1a861c717906c6978c399d3"
        />
      </div>
    </div>
  </section>

  <section class="p-2.5 lg:p-5 space-y-2.5 lg:space-y-5">
    <div class="grid lg:grid-cols-4 gap-2.5 lg:gap-5">
      <div class="lg:col-span-2 lg:col-start-2 space-y-2.5 lg:space-y-5">
        {organizations.map((org) => <OrganizationWrapper organization={org} />)}
      </div>
    </div>
  </section>

  <ProgressWatcher
    client:load
    current="tools"
    number="three"
    n="3"
    position="third"
    next="ledger"
    text=""
  />
</Layout>
