<header
  class="sticky top-0 left-0 right-0 w-full flex items-center border-y border-white bg-black text-white"
>
  <a
    href="https://www.mozilla.org"
    class="size-10 p-3 border-r border-white flex justify-center items-center"
  >
    <svg
      width="24"
      height="27"
      viewBox="0 0 24 27"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0 26.6957H3.47622V0H0V26.6957Z" fill="white"></path>
      <path
        d="M6.31085 13.617H20.0757V12.8497L11.1052 9.65442V6.95164L20.0757 3.75641V2.97764H9.44876V6.05835H6.31085V2.97764H9.44876V0H23.2136V5.43992L15.9113 7.91365V8.68096L23.2136 11.1547V16.5946H6.31085V13.617Z"
        fill="white"></path>
    </svg>
  </a>
  <span class="flex-1 px-3 text-center">STATE OF MOZILLA 2025</span>
  <div class="size-10"></div>
</header>
